// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: rem(16);

// Основные цвета
$mainColor: #2c2e3f; // Цвет шрифта по умолчанию
$mainDarkColor: #141517;
$mainOrangeColor: #fe7865;
$mainGreyColor: #48494D;

$lightPinkColor: #fbf8f8;
$lightOrangeColor: #f17d4b;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: $containerWidth; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 767.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 479.98px; // Телефоны L
$mobileSmall: 319.98px; // Телефоны S
